@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-color: #1A2D4B;
    min-width: 100vh;
    overflow: hidden;
}
.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    position: absolute;
    font-size: 5em;
    color: #F6ECC5;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}