.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: pink;
    align-items: center;
    justify-content: center;
}
.banner h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: xx-large;
}
.banner:hover{
    cursor: pointer;
}
.banner button{
    background-color: lightgrey;
    width: 10%;
    height: 20%;
    border: 0;
}
.banner button:hover{
    cursor: pointer;
    background-color: darkgrey;
}

.what h1{
    font-weight:600;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.what .content{
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3%;
    margin: 1%;
}

.who h1{
    font-weight:600;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.essmay{
    background-color: lightgreen;
}
.louise{
    background-color: palegreen;
}


footer{
    text-align: center;
}