/* NAVBAR 1 */
.buttons{
    display: flex;
    flex-direction: row;
    width: 97%;
    margin: 1%;
    margin-bottom: 0px;
    justify-content: left;
}
.navigation1{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 50%;
    justify-content: left;
    padding: 0px;
    margin-bottom: 0px;
}
.navigation1 li{
    height: 30px;
    width: 200px;
    text-align: center;
    border: 2px solid;
    padding-top: 15px;
    border: 0;
}
.navigation1 .active{
    background-color: lightgreen;
}
.navigation1 .non-active{
    background-color: palegreen;
}
.navigation1 .non-active a{
    color: black;
    text-decoration: none;
}
.navigation1 .non-active a:hover{
    cursor: pointer;
    color: white;
}
.backbutton{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: right;
    align-items: center;
}
.backbutton button{
    background-color: lightgrey;
    width: 20%;
    height: 90%;
    border: 0;
}
.backbutton button:hover{
    cursor: pointer;
    background-color: darkgrey;
}

/* MAIN */
.main{
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    width: 97%;
    height: 70vh;
    margin: 1%;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}
.buttons2{
    width: 100%;
}
.navigation2{
    padding: 0%;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-size: large;
    font-weight: bold;
    list-style: none;
    justify-content:space-evenly;
}
.navigation2 li{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: 0;
}
.navigation2 .active{
    font-weight: bold;
    border-bottom: 2px solid black;
}
.navigation2 .non-active a{
    text-decoration: none;
    color: black;
}
.navigation2 .non-active a:hover{
    cursor: pointer;
    color: white;
}
.mycontent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

/* LEFT PANEL */
.pic{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 40%;
    background-color: grey;
    align-items: center;
    justify-content: center;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: green;
}
.pic img{
    width: 45%;
    border-radius: 20%;
    margin-top: 0;
    padding: 5%;
}
.img label{
    display: block;
    width: 200px;
    background-color: pink;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    padding-top: 13px;
    width: 50%;
    text-align: center;
}
.img input{
    display:none;
}
label:hover{
    background-color: grey;
}
/* star rating */
.rating{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    background-color: palegoldenrod;
}
.rating input{
    display:none;
}
.rating label{
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.rating label:before{
    content: '\f005';
    font-family: FontAwesome;
    position: relative;
    display:block;
    font-size: 40px;
    color: black;
}
.rating label:after{
    content: '\f005';
    font-family: FontAwesome;
    position: relative;
    display:block;
    font-size: 40px;
    color: yellow;
    top: -40px;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
    opacity: 1;
}

/* RIGHT PANEL */
.myform{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 50%;
    background-color: green;
}
form h1{
    margin: 0;
    padding-top: 5%;
}
form{
    background-color: lightblue;
    height: 85%;
    width: 90%;
}
form span{
    display: block;
    margin: 20px 0;
}
textarea{
    width: 98%;
    height: 10%;
}
.addbutton{
    width: 100%;
    height: 8%;
    text-align: end;
}
.addbutton button{
    height: 100%;
    width: 20%;
    background-color: lightgrey;
}
.addbutton button:hover{
    cursor: pointer;
    background-color: darkgrey;
}

@media screen and (max-width: 800px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4%;
        padding-top:0;
        width: 85vw;
        height: 105vh;
    }
    .mycontent{
        display: flex;
        flex-direction: column;
    }
    .pic{
        flex-direction: column;
        width: 100%;
        height: 50%;
    }
    .pic .img{
        height: 100%;
    }
    .pic img{
        width: 35%;
        padding: 0;
    }
    .myform{
        width: 100%;
        height: 70%;
    }
    form{
        width: 90%;
    }
}