/* NAVBAR 1 */
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    width: 97%;
    margin: 1%;
    margin-bottom: 0px;
    justify-content: left;
}
.navigation1{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 50%;
    justify-content: left;
    padding: 0px;
    margin-bottom: 0px;
}
.navigation1 li{
    height: 30px;
    width: 200px;
    text-align: center;
    border: 2px solid;
    padding-top: 15px;
    border: 0;
}
.navigation1 .active{
    background-color: lightgreen;
}
.navigation1 .non-active{
    background-color: palegreen;
}
.navigation1 .non-active a{
    color: black;
    text-decoration: none;
}
.navigation1 .non-active a:hover{
    cursor: pointer;
    color: white;
}
.addbutton{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: right;
    align-items: center;
}
.addbutton button{
    background-color: lightgrey;
    width: 20%;
    height: 90%;
    border: 0;
}
.addbutton button:hover{
    cursor: pointer;
    background-color: darkgrey;
}

/* CONTENT */
.main{
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    width: 97%;
    height: 70vh;
    margin: 1%;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}
.buttons2{
    width: 100%;
}
.navigation2{
    padding: 0%;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-size: large;
    font-weight: bold;
    list-style: none;
    justify-content:space-evenly;
}
.navigation2 li{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: 0;
}
.navigation2 .active{
    font-weight: bold;
    border-bottom: 2px solid black;
}
.navigation2 .non-active a{
    text-decoration: none;
    color: black;
}
.navigation2 .non-active a:hover{
    cursor: pointer;
    color: white;
}
.mycontent{
    height: 400%;
    width: 95%;
    margin: 2%;
    margin-top: 0;
    background-color: palegoldenrod;
}