.bgimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../img/parallax_effect/bg_expended.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
/* NAVBAR 1 */
.buttons{
    display: flex;
    width: 90%;
    margin: 0;
    justify-content: right;
}
.navigation1{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 50%;
    justify-content: left;
    padding: 0px;
    margin-bottom: 0px;
}
.navigation1 li {
    position: relative; 
    height: 30px;
    width: 200px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    z-index: 1;
    background: inherit;
    backdrop-filter: blur(10px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 3px -3px 3px rgba(86, 86, 86, 0.8), 
              -3px -3px 3px rgba(86, 86, 86, 0.8);
}
/* MAIN */
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:0;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.mycontent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    backdrop-filter: blur(35px);
    box-shadow: 3px 3px 3px rgba(86, 86, 86, 0.8), 
    -3px 3px 3px rgba(86, 86, 86, 0.8),
    -3px -3px 3px rgba(86, 86, 86, 0.8),
    3px -3px 3px rgba(86, 86, 86, 0.8);
}

/* LEFT PANEL */
.pic{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 40%;
    align-items: center;
    justify-content:center;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

/* star rating */
.rating{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding-top: 40px;
}
.rating label{
    display: block;
    width: 40px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}
.rating .bef:before{
    content: '\f005';
    font-family: FontAwesome;
    position: relative;
    display:block;
    font-size: 40px;
    color: black;
}
.rating .af:before{
    content: '\f005';
    font-family: FontAwesome;
    display:block;
    font-size: 40px;
    color: gold;
    top: -40px;
}

/* RIGHT PANEL */
.data{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background: linear-gradient(#0c0f1c,  #171e3bd5);
    border: 1px solid rgba(52, 52, 52, 0.3);
    border-radius: 5px;
    backdrop-filter: blur(35px);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
}
.data h2{
    margin: 3px;
}
.data h1 {
    margin: 0;
    color: rgb(211, 209, 209);
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.5);
}
.data h1:hover {
    color: #056cc7e1; 
}
.data h1:hover {
    color: #056cc7e1; 
}
.data ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.data li{
    list-style: none;
    border-radius: 5px;
    background-color: blue;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 10px;
}
.panel{
    display:flex;
    flex-direction: column;
}
.both{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
}
h4{
    padding-right: 20px;
}
@media screen and (max-width: 1200px) {
    .bgimg{
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85vw;
    }
    .buttons{
        width: 85vw;
    }
    .mycontent{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0px;
    }
    .pic{
        width: 100%;
        height: 50%;
    }
    .img{
        margin-top: 30px;
    }
    .rating{
        padding-top: 10px;
        padding-bottom: 10px;
        height: 60px;
    }
    .data{
        width: 90%;
        height: 70%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}